@model Parcial.RouteConfig

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>
        UNIVERSIDAD ABIERTA INTERAMERICANA
    </h1>
    <p>
        Se debe desarrollar un programa que permita llevar un registro de afiliado de una obra social.
        Los requisitos para el desarrollo son:
    </p>
    <p>

        ▪ Para la interfaz de usuario se debe utilizar MVC
        Se debe desarrollar:

    </p>
    <p>
        ▪ seguir las normas de usabilidad vistas en clase.
    </p>
    <p>
        ▪ La base de datos debe ser SQL Server (LocalDb).
    </p>
    <p>
        ▪ Datos del Afiliado: Nombre, Apellido, Email, Teléfono, CUIT.
    </p>
    <p>
        ▪ Guardar todo en el repositorio: apellido-nombre-lppa-parcial1
    </p>
    <p>
        1. Una pantalla principal donde se listarán todos los clientes con sus respectivos atributos. El diseño de la pantalla debe ser similar al
        siguiente:
    </p>
    <img src="~/Content/aegaeg.PNG" style="width:300px; height:300px;" />
    <p>
        En cada uno de los clientes debe existir los links (editar y eliminar) que lleve a la pantalla pertinentes.
        Es importante diseñar la pantalla para que resulte similar al ejemplo y utilizar HTML y CSS. Los elementos que se ven en el ejemplo son:
        ▪ Una imagen en el borde superior izquierdo.
        ▪ Un menú principal en la cabecera.
        ▪ Una barra de navegación que indica que página se está viendo y el camino realizado para llegar a la misma.
        ▪ Un listado de clientes como grilla.
    </p>
</div>